In [1]:
from datasets import load_dataset
import pandas as pd

/Users/amrullah/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
'''
from datasets import load_dataset
import csv


datasets = load_dataset("HuggingFaceFW/fineweb", split="train", streaming=True)

samples = []


for i, row in enumerate(datasets):
    samples.append(row)

    if (i + 1) % 100 == 0:
        print(f"{i+1} samples terkumpul, Teks Terakhir : \n{row['text'][:200]}\n--")

    if i >= 39999:  
        break

print("Selesai! Total Sample", len(samples))


with open("fineweb_40k.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(["text"])  #
    for row in samples:
        writer.writerow([row["text"]])

print("Dataset berhasil disimpan ke fineweb_40k.csv di folder saat ini!")

'''

'\nfrom datasets import load_dataset\nimport csv\n\n\ndatasets = load_dataset("HuggingFaceFW/fineweb", split="train", streaming=True)\n\nsamples = []\n\n\nfor i, row in enumerate(datasets):\n    samples.append(row)\n\n    if (i + 1) % 100 == 0:\n        print(f"{i+1} samples terkumpul, Teks Terakhir : \n{row[\'text\'][:200]}\n--")\n\n    if i >= 39999:  \n        break\n\nprint("Selesai! Total Sample", len(samples))\n\n\nwith open("fineweb_40k.csv", "w", newline="", encoding="utf-8") as f:\n    writer = csv.writer(f)\n    writer.writerow(["text"])  #\n    for row in samples:\n        writer.writerow([row["text"]])\n\nprint("Dataset berhasil disimpan ke fineweb_40k.csv di folder saat ini!")\n\n'

In [3]:
df = pd.read_csv("../dataset/fineweb_40k.csv")

In [4]:
df.head(10)

                                                text
0  How AP reported in all formats from tornado-st...
1  Did you know you have two little yellow, nine-...
2  Car Wash For Clara!\nNow is your chance to hel...
3  Listeners Get Sky-high View of Missoula From H...
4  Log In Please enter your ECode to log in.\nFor...
5  spotlight provides a convenient rechargeable L...
6  K-State put themselves in sole position of fir...
7  Five Reasons I Love Boston\n1. The water.\nThe...
8  TRIBE CHIEF TRIS DAZZLES AT DISH, FLUBS IN FIE...
9  |Tommy Pi - Trance Experience|\n|Written by Pa...

In [5]:
df.isna().sum()

text    0
dtype: int64

In [6]:
df.isnull().sum()

text    0
dtype: int64

In [7]:
df.describe()

                                                     text
count                                               40000
unique                                              39999
top     - Key Views\n- Our Research\n- Our Thoughts\nL...
freq                                                    2

In [8]:
df = df.drop_duplicates()

In [9]:
df.describe()

                                                     text
count                                               39999
unique                                              39999
top     How AP reported in all formats from tornado-st...
freq                                                    1

In [10]:
df['text'] = df['text'].str.lower()

In [11]:
df

                                                    text
0      how ap reported in all formats from tornado-st...
1      did you know you have two little yellow, nine-...
2      car wash for clara!\nnow is your chance to hel...
3      listeners get sky-high view of missoula from h...
4      log in please enter your ecode to log in.\nfor...
...                                                  ...
39995  there are no matches for this search right now...
39996  flashy akc black boxers\n1 / 5\nwould like for...
39997  this is how i feel lately. i wouldn’t have und...
39998  a cookbook addict’s guide to vegan cookbooks\n...
39999  tired of the cold weather and want to venture ...

[39999 rows x 1 columns]

In [12]:
df

                                                    text
0      how ap reported in all formats from tornado-st...
1      did you know you have two little yellow, nine-...
2      car wash for clara!\nnow is your chance to hel...
3      listeners get sky-high view of missoula from h...
4      log in please enter your ecode to log in.\nfor...
...                                                  ...
39995  there are no matches for this search right now...
39996  flashy akc black boxers\n1 / 5\nwould like for...
39997  this is how i feel lately. i wouldn’t have und...
39998  a cookbook addict’s guide to vegan cookbooks\n...
39999  tired of the cold weather and want to venture ...

[39999 rows x 1 columns]

In [13]:
df.iloc[39996]

text    this is how i feel lately. i wouldn’t have und...
Name: 39997, dtype: object

In [15]:
from bs4 import BeautifulSoup

def extract_text(html):
    return BeautifulSoup(html, 'html.parser').get_text()

df['text'] = df['text'].apply(extract_text)
df

/var/folders/7p/lxmswfkn5csgq15lm5v9_mdr0000gp/T/ipykernel_40330/2425095859.py:4: XMLParsedAsHTMLWarning: It looks like you're using an HTML parser to parse an XML document.

Assuming this really is an XML document, what you're doing might work, but you should know that using an XML parser will be more reliable. To parse this document as XML, make sure you have the Python package 'lxml' installed, and pass the keyword argument `features="xml"` into the BeautifulSoup constructor.

If you want or need to use an HTML parser on this document, you can make this warning go away by filtering it. To do that, run this code before calling the BeautifulSoup constructor:

    from bs4 import XMLParsedAsHTMLWarning
    import warnings

    warnings.filterwarnings("ignore", category=XMLParsedAsHTMLWarning)

  return BeautifulSoup(html, 'html.parser').get_text()

                                                    text
0      how ap reported in all formats from tornado-st...
1      did you know you have two little yellow, nine-...
2      car wash for clara!\nnow is your chance to hel...
3      listeners get sky-high view of missoula from h...
4      log in please enter your ecode to log in.\nfor...
...                                                  ...
39995  there are no matches for this search right now...
39996  flashy akc black boxers\n1 / 5\nwould like for...
39997  this is how i feel lately. i wouldn’t have und...
39998  a cookbook addict’s guide to vegan cookbooks\n...
39999  tired of the cold weather and want to venture ...

[39999 rows x 1 columns]

In [16]:
df

                                                    text
0      how ap reported in all formats from tornado-st...
1      did you know you have two little yellow, nine-...
2      car wash for clara!\nnow is your chance to hel...
3      listeners get sky-high view of missoula from h...
4      log in please enter your ecode to log in.\nfor...
...                                                  ...
39995  there are no matches for this search right now...
39996  flashy akc black boxers\n1 / 5\nwould like for...
39997  this is how i feel lately. i wouldn’t have und...
39998  a cookbook addict’s guide to vegan cookbooks\n...
39999  tired of the cold weather and want to venture ...

[39999 rows x 1 columns]

In [17]:
import re
import unicodedata

In [19]:
def standardize_accented_chasr(text):
    return unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')

df['text'] = df['text'].apply(standardize_accented_chasr)
df

                                                    text
0      how ap reported in all formats from tornado-st...
1      did you know you have two little yellow, nine-...
2      car wash for clara!\nnow is your chance to hel...
3      listeners get sky-high view of missoula from h...
4      log in please enter your ecode to log in.\nfor...
...                                                  ...
39995  there are no matches for this search right now...
39996  flashy akc black boxers\n1 / 5\nwould like for...
39997  this is how i feel lately. i wouldnt have unde...
39998  a cookbook addicts guide to vegan cookbooks\nw...
39999  tired of the cold weather and want to venture ...

[39999 rows x 1 columns]

In [22]:
def remove_url(text):
    return re.sub(r'https?:\S*', '', text)

df['text'] = df['text'].apply(remove_url)
df

                                                    text
0      how ap reported in all formats from tornado-st...
1      did you know you have two little yellow, nine-...
2      car wash for clara!\nnow is your chance to hel...
3      listeners get sky-high view of missoula from h...
4      log in please enter your ecode to log in.\nfor...
...                                                  ...
39995  there are no matches for this search right now...
39996  flashy akc black boxers\n1 / 5\nwould like for...
39997  this is how i feel lately. i wouldnt have unde...
39998  a cookbook addicts guide to vegan cookbooks\nw...
39999  tired of the cold weather and want to venture ...

[39999 rows x 1 columns]